body{
    margin:0;
    padding-top: 800px;
    text-align: center;
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%
}
#intro{
    position: absolute;
    overflow: hidden;
    height: 800px;
    background: linear-gradient(red 0%,blue 100%);
    display:table;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9
}
.inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 40px;
    font-family: inherit;}
#bio{padding: 50px;
text-align:center;   
font-size:21px;}
.line{
    height: 6px;
    width: 60px;
    margin: 8px auto;
background-color: black;
}
.menu{
    list-style: none;
    position: fixed;
    top: 0px;
    background: white;
    width: 100%;
    cursor: pointer;
    z-index: 10;
}       
.links{
   
     color: darkcyan;
    padding: 30px;
    display: inline;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
   font-size: 25px;
}
#name{font-family: 'Akaya Kanadaka', cursive;}
a{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px grey;
}
.article:hover{
    color: deeppink;
}
#writings a{
    text-decoration: underline !important;
    color:firebrick !important;
    text-shadow: none !important;
}
#contact iframe{
    width:100%;
}
#contact{
    background: firebrick;
}
.contact1 h3{
    display: inline;
}



